{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Registrar Cliente</h2>
  <form action="/registrar_cliente" method="POST">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="telefono" name="telefono" required>
    </div>
    <div class="mb-3">
      <label for="correo" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="correo" name="correo">
    </div>
    <button  type="submit" class="btn btn-success">Registrar Cliente</button>
  </form>
</div>
{% endblock %}
